@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



.text-desconto{
    width: 100%;
    height: 5vh;
    background-color: #181818;
}

.text-desconto p{
   text-align: center;
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 196.19%;
 padding-top: 5px;
   color: #F9F9F9;
}

.text-logo{
    width: 100%;
    height: 7vh;
    background-color: #F9F9F9;
    
}
.text-logo p {
    text-align: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 196.19%;
    color: #181818;
    padding-top: 5px;

}

.bg-header{
    background: url('/JordanShoes/assets/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    max-width: 100%;
}

.bg-header h1{
    width: 400px;
font-family: "Montserrat";
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 39px;
color: #F9F9F9;
padding-top: 190px;
padding-bottom: 20px;
margin-left: 80px;
}

.bg-header p{
    width: 460px;
font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 196.19%;
display: flex;
align-items: center;
color: #F9F9F9;
margin-left: 80px;

}

.jordan-loja{
    padding-top: 57px;
}

.input{
    width: 346px;
height: 46px;
background: #FFFFFF;
border: 2px solid #C4C4C4;
align-items: center;
justify-content: center;
margin: 0 auto;
display: flex;
margin-bottom: 20px;


}

input::placeholder{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 196.19%;
color: #5f5c5c;
padding-left: 10px;
}

.jordan-loja h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 196.19%;
display: flex;
color: #181818;
justify-content: center;
}

.jordan-loja p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 196.19%;
display: flex;
color: #474747;
justify-content: center;
padding-bottom: 20px;

}

.jordan-items{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.jordan{
    width: 300px;
    height: 302px;
    background: #EBE9EA;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
    padding-right: 15px;
}
.jordan img{
    position: absolute;
}




footer{
    background: #181818;
    height: 5vh;
}

footer p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 196.19%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    color: #F9F9F9;
    
}